Add domain name validation to Python Connector

Add regex to validate domain name used is in proper format.

Similar to how we validate an instance connection name:

https://github.com/GoogleCloudPlatform/cloud-sql-python-connector/blob/fb8c21c89af524bdd00c51eeb0bcb4a6bf4dbbd3/google/cloud/sql/connector/connection_name.py#L46-L54

Below is what we used in Go Connector:

```go
// The domain name pattern in accordance with RFC 1035, RFC 1123 and RFC 2181.
domainNameRegex = regexp.MustCompile(`^(?:[_a-z0-9](?:[_a-z0-9-]{0,61}[a-z0-9])?\.)+(?:[a-z](?:[a-z0-9-]{0,61}[a-z0-9])?)?$`)
```

Can use Go as ref: https://github.com/GoogleCloudPlatform/cloud-sql-go-connector/pull/925